.fieldItem[type='Input'] .inputBox {
  margin-left: 91px;
  position: relative;
  box-sizing: border-box;
}
.fieldItem[type='Input'] .inputBox .txtInput {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  vertical-align: top;
  padding: 5px;
  height: 33px;
  resize: none;
}
.desiForm .fieldItem[type='Input'] .inputBox .txtInput {
  resize: vertical;
}
